/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    /* font-size: 20px; */


/* .nav-item a:hover {
    text-decoration: underline;
    color: rgb(12, 221, 82);
} */